.header {
  color:lightgray;
  font-family: sans-serif;
  text-align: center;
  margin-right: 660px;
  margin-top: 30px;
}
.subtitle {
  margin-right: 230px;
  margin-top: 50px;
}
.photo1 {
  width: 800px;
  height: 400px;
  margin-left: 250px;
  border-color: black;
}

.bold {
  color: black;
  font-size: 14px;
  margin-right: 155px;
}

.last {
  margin-right: 140px;
  font-size: 14px;
}
